:root {
  --max-width: 960px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --secondary-color: #f2f9ff;
  --primary-color: #ffffff;
  --cta-btn-color: #188a8d;
  --footer-color: #070907;

  --primary-text-color: #000000;
  --secondary-text-color: var(--secondary-color);
  --link-text-color: #032182;

  --primary-button: 12px;
  --regular-button: 20px;
  --rounded-button: 50%;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: '#00000';
  background-color: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
